@{
    this.ViewData["Question"] = "Privacy Policy";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Privacy</li>
    </ol>
</nav>

<h1>@this.ViewData["Question"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
