@model Quiz.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Administration Dashboard</li>
    </ol>
</nav>

<div class="card text-center">
    <div class="card-header">
        Add Exams
    </div>
    <div class="card-body">
        <h5 class="card-title">Click button to add all tests</h5>
        <p class="card-text">Tests will be added if they not already exist. If they exist action should be throw exception.</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Tests" asp-action="Add">Add Exams</a>
    </div>
</div>